* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    color: white;
    background-image: linear-gradient(to right, red, black);
}

.pai {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculadora {
    width: 300px;
    height: 400px;
    background-color: rgba(31, 30, 30, 0.815);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    gap: 20px;
}

.result {
    width: 100%;
    height: 45px;
    background-color: white;
    border: none;
    font-size: 1.3rem;
    text-align: right;
    padding: 5px;
    outline: none;
    color: black;
}

.buttons {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    gap: 25px;
}

.button-nums {
    display: grid;
    gap: 10px;
    grid-template-areas: 
    'sete oito nove'
    'quatro cinco seis'
    'um dois tres'
    'zeroo zeroo ponto';
    grid-auto-columns: 40px;
    grid-auto-rows: 50px;
}

.button-op {
    display: grid;
    gap: 10px;
    grid-template-areas: 
    'seta C '
    'barra mult'
    'menos mais'
    'igual mais'
    ;
    grid-auto-columns: 40px;
    grid-auto-rows: 50px;
    
}

.btn {
    background-color: black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background-color: rgb(226, 220, 220);
    color: black;
    transition: 0.2s;
}

.bnt1 {grid-area: um;}
.bnt2 {grid-area: dois;}
.bnt3 {grid-area: tres;}
.bnt4 {grid-area: quatro;}
.bnt5 {grid-area: cinco;}
.bnt6 {grid-area: seis;}
.bnt7 {grid-area: sete;}
.bnt8 {grid-area: oito;}
.bnt9 {grid-area: nove;}
.bnt0 {grid-area: zeroo;}
.bntp {grid-area: ponto;}
.bntseta {grid-area: seta;}
.bntC {grid-area: C;}
.bntbarra {grid-area: barra;}
.bntmult {grid-area: mult;}
.bntmenos {grid-area: menos;}
.bntmais {grid-area: mais;}
.bntigual {grid-area: igual;}



